# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# IDE
.idea/
*.iml

# Log/Crash/Keystore
*.log
*.keystore

# OS files
.DS_Store

# NDK
.externalNativeBuild

# Captures
captures/

# Misc
*.apk
*.ap_
